---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Oct 2024 – Abr 2025",
    title: "Becario en Machine Learning / IA",
    company: "Mapfre Tech",
    description:
      "Desarrollo de sistema multiagente con AutoGen, LangChain y LangGraph para automatizar gestiones internas. Implementación de sistema de ofuscación de matrículas para protección de privacidad. Diseño de sistemas RAG y CAG. Fine tuning de modelos YOLO. Benchmarking de rendimiento de sistemas IA utilizando Arize Phoenix.",
  },
  {
    date: "Feb 2024 – Ago 2024",
    title: "Becario en Arquitectura Cloud",
    company: "Mapfre Tech",
    description:
      "Desarrollo de aplicaciones en la nube con AWS. Optimización de código y mejora de eficiencia en soluciones desplegadas. Participación en metodologías ágiles y colaboración en equipos multidisciplinares. Revisión de código y soporte en gestión de proyectos tecnológicos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
